@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --grad1: linear-gradient(to right, #fcfafb, #c8d3d6);
  --grad2: linear-gradient(to right, #7fb7be, #d2f3ee);
  --a4width: 210px;
  --a4height: 290px;
  --a4fontSize: 4.233px;
  --a4padLeft: 19px;
  --a4padRight: 13.2px;
  --a4padTop: 19px;
  --a4padBottom: 36.7px;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.profilePic {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: darkgray;
  margin-bottom: 0.5em;
}

#preview {
  width: calc(var(--a4width));
  height: var(--a4height);
  font-size: var(--a4fontSize);
  padding: var(--a4padTop) var(--a4padRight) var(--a4padBottom) var(--a4padLeft);
}

.previewName {
  font-size: 2em;
}

.previewTitle > div {
  height: 33%;
}

.previewOccupation {
  font-size: 1.6em;
  margin-left: 1em;
  font-weight: bold;
  background-color: #375356;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 1em;
}

.previewLocation {
  font-size: 1.3em;
}

.previewHeading {
  background-color: #375356;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.previewJobDiv {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.previewJobDiv > h3 {
  font-weight: bold;
  font-size: 1.3em;
}

.previewJobDiv > p {
  font-size: 1.1em;
}

.previewJobDiv > .previewJobDescription {
  font-size: 1em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
  background: #375356;
}

span {
  display: inline-block;
  background-position: center;
}

#persoSpan,
#professionalSpan,
#educationSpan {
  width: 32px;
  height: 32px;
  background-size: 32px;
}

#addPracitalBut,
#addEducationBut {
  margin-right: auto;
}

#addButtonSpan {
  background-image: url(./src/assets/plus.svg);
  width: 1em;
  height: 1em;
  background-size: 1em;
}

#persoSpan {
  background-image: url("./src/assets/personal-info.svg");
}

#professionalSpan {
  background-image: url("./src/assets/professional.svg");
}

#educationSpan {
  background-image: url('./src/assets/education.svg');
}

#locationSpan {
  background-size: 1.25em;
  background-image: url("./src/assets/location.svg");
  height: 1.1em;
  width: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label[for="startDateJob"],
label[for="endDateJob"],
label[for='startDateED'],
label[for='endDateED'] {
  width: 6rem;
  text-align: left;
  background-color: white;
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-left: 0.25rem;
  color: grey;
}

input[type="date"] {
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.groupDiv {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--grad2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 8px 6px rgba(232, 232, 232, 0.852);
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input,
label {
  appearance: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

input:focus,
textarea:focus {
  outline: 2px black solid;
}

button, button[type='submit'], button[type='reset'] {
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  border: 1px solid black;
  background-color: white;
}

input:required:focus {
  outline: 2px red solid;
}
.required:required:invalid {
  outline: 2px red solid;
}

.required:required:valid:not(.wrongsens) {
  outline: 2px green solid;
}

input:required:valid:focus:not(.wrongsens) {
  outline: 2px green solid;
}

.experience {
  box-shadow: 0 3px 8px 6px rgba(48, 48, 48, 0.852);
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #375356;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  margin-bottom: 0.5rem;
}

.expData {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: start;
}

.expButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.errorSpan {
  position: absolute;
  left: 3.8rem;
  right: 5rem;
  top: -5px;
  text-align: start;
  font-size: xx-small;
  color: red;
}

.wrongsens,
.wrongsens:focus {
  outline: 2px red solid;
}

textarea {
  min-height: 1.5em;
  max-height: 10em;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}


.deleteEntry, .editEntry {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 20px;
  background-color: transparent;
  border: 0;
  margin-top: 5px;
}

.deleteEntry {
  background-image: url('../src/assets/trash.svg');
}

.editEntry {
  background-image: url('../src/assets/edit.svg')
}

@media screen and (min-width: 500px) {
  #preview {
    width: calc(var(--a4width) * 2);
    height: calc(var(--a4height) * 2);
    font-size: calc(var(--a4fontSize) * 2);
    padding: calc(var(--a4padTop) * 2) calc(var(--a4padRight) * 2) calc(var(--a4padBottom) * 2)
      calc(var(--a4padLeft) * 2);
  }

  #expErrorSpan {
    font-size: small;
    left: 4rem;
  }
}

@media screen and (min-width: 800px) {
  #preview {
    width: calc(var(--a4width) * 3);
    height: calc(var(--a4height) * 3);
    font-size: calc(var(--a4fontSize) * 3);
    padding: calc(var(--a4padTop) * 3) calc(var(--a4padRight) * 3) calc(var(--a4padBottom) * 3)
      calc(var(--a4padLeft) * 3);
  }
   #expErrorSpan {
    font-size: medium;
    top: 3px;
  }
}

@media screen and (min-width: 1024px) {
  #preview {
    width: calc(var(--a4width) * 2.5);
    height: calc(var(--a4height) * 2.5);
    font-size: calc(var(--a4fontSize) * 2.5);
    padding: calc(var(--a4padTop) * 2.5) calc(var(--a4padRight) * 2.5) calc(var(--a4padBottom) * 2.5)
      calc(var(--a4padLeft) * 2.5);
  }
}

@media screen and (min-width: 1200px) {
  #preview {
    width: calc(var(--a4width) * 3);
    height: calc(var(--a4height) * 3);
    font-size: calc(var(--a4fontSize) * 3);
    padding: calc(var(--a4padTop) * 3) calc(var(--a4padRight) * 3) calc(var(--a4padBottom) * 3)
      calc(var(--a4padLeft) * 3);
  }
}

@media print {
  .no-print {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }

  html,
  body,
  #root,
  #preview {
    width: 21cm;
    height: 29cm;
    font-size: 0.4322cm;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  html,
  body,
  #root {
    padding: 0;
    margin: 0;
  }

  #preview {
    padding: 1.9cm 1.32cm 3.67cm 1.9cm;
    margin: 0;
  }
}
