@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bgColorBody: #262626;
  --bgColorDivs: linear-gradient(135deg, #b3b3b3, #ffffff);
  --textColor: black;
  --shadowColor: rgba(155, 155, 155, 0.852);
  --svgHeadingFilter: none;
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
  --buttonTextColor: white;
  --a4width: 210px;
  --a4height: 297px;
  --a4fontSize: 4.233px;
  --a4padLeft: 19px;
  --a4padRight: 13.2px;
  --a4padTop: 19px;
  --a4padBottom: 36.7px;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.profilePic {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: darkgray;
  margin: 0.5em 0;
  object-fit: cover;
}

#preview {
  width: calc(var(--a4width));
  height: var(--a4height);
  font-size: var(--a4fontSize);
  padding: var(--a4padTop) var(--a4padRight) var(--a4padBottom) var(--a4padLeft);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.previewName {
  font-size: 2em;
}

.previewTitle > div {
  height: 33%;
}

.previewOccupation {
  font-size: 1.6em;
  margin-left: 1em;
  font-weight: bold;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 1em;
}

.previewLocation {
  font-size: 1.3em;
}

.previewHeading {
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.previewJobDiv {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  justify-items: start;
  align-items: end;
}

.previewJobDiv > h3 {
  font-weight: bold;
  font-size: 1.3em;
}

.previewJobDiv > p {
  font-size: 1.1em;
}

.previewJobDiv > .previewJobDescription {
  font-size: 1em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 1rem;
  text-align: center;
  flex-grow: 1;
  background: var(--bgColorBody);
}

.themeBut {
  position: absolute;
  right: 0.2rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
  height: 1rem;
  width: 2rem;
}

.themeButImg {
  filter: var(--svgAddButtonFilter);
  object-fit: contain;
}
span {
  display: inline-block;
  background-position: center;
}

.contactInfos {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.previewContact {
  width: 1em;
  height: 1em;
  background-size: 1em;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(149deg) brightness(103%) contrast(108%);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

hr {
  border: 0;
}

.contactInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  column-gap: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#emailSpan {
  background-image: url(/email.svg);
}

#websiteSpan {
  background-image: url(/website.svg);
}

#phoneSpan {
  background-image: url(/phone.svg);
}

#githubSpan {
  background-image: url(/github.svg);
}

#linkedinSpan {
  background-image: url(/linkedin.svg);
}

#persoSpan,
#professionalSpan,
#educationSpan,
#contactSpan,
#customizeSpan,
#skillSpan {
  width: 32px;
  height: 32px;
  background-size: 32px;
  filter: var(--svgHeadingFilter);
}

#addPracitalBut,
#addEducationBut {
  margin-right: auto;
}

#addButtonSpan {
  background-image: url(/plus.svg);
  width: 1em;
  height: 1em;
  background-size: 1em;
  filter: var(--svgAddButtonFilter);
}

#persoSpan {
  background-image: url(/personal-info.svg);
}

#professionalSpan {
  background-image: url(/professional.svg);
}

#educationSpan {
  background-image: url(/education.svg);
}

#contactSpan {
  background-image: url(/contact-info.svg);
}

#customizeSpan {
  background-image: url(/customize.svg);
}

#skillSpan {
  background-image: url(/skills.svg);
}

#locationSpan {
  background-size: 1.25em;
  background-image: url(/location.svg);
  height: 1.1em;
  width: 1.2em;
}

#printBut {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  background-color: var(--bgColorBody);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label[for="startDateJob"],
label[for="endDateJob"],
label[for="startDateED"],
label[for="endDateED"] {
  width: 6rem;
  text-align: left;
  background-color: white;
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-left: 0.25rem;
  color: #626161;
}
input::placeholder,
textarea::placeholder {
  color: #626161;
}

.optionsRow > p,
.optionsRow > label {
  color: #626161;
}

input[type="date"] {
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.groupDiv {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--bgColorDivs);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 8px 6px var(--shadowColor);
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  background-color: var(--bgColorBody);
  min-width: 320px;
  min-height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="phone"] input[type="date"] label {
  appearance: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

input:focus,
textarea:focus {
  outline: 2px black solid;
}

input[type="checkbox"]:focus {
  outline: none;
}

button,
button[type="submit"],
button[type="reset"] {
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  background-color: var(--bgColorBody);
  color: var(--buttonTextColor);
}

input:required:focus {
  outline: 2px red solid;
}
.required:required:invalid {
  outline: 2px red solid;
}

.required:required:valid:not(.wrongsens) {
  outline: 2px green solid;
}

input:required:valid:focus:not(.wrongsens) {
  outline: 2px green solid;
}

.experience {
  box-shadow: 0px 0px 0px 0px var(--experienceShadow);
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bgColorBody);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
}

.expData {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: start;
}

.expButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.errorSpan {
  position: absolute;
  left: 3.8rem;
  right: 5rem;
  top: -5px;
  text-align: start;
  font-size: xx-small;
  color: var(--textColor);
}

.groupDivHeading {
  color: var(--textColor);
}

.wrongsens,
.wrongsens:focus {
  outline: 2px red solid;
}

textarea {
  min-height: 1.5em;
  max-height: 10em;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.deleteEntry,
.editEntry {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 20px;
  background-color: transparent;
  border: 0;
  margin-top: 5px;
}

.deleteEntry {
  background-image: url(/trash.svg);
  filter: var(--svgAddButtonFilter);
}

.editEntry {
  background-image: url(/edit.svg);
  filter: var(--svgAddButtonFilter);
}

button:active {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.expandButIn,
.expandButOut {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  border: 0;
  background-color: transparent;
  padding: 0;
  transition: transform 0.3s linear;
}

.expandButOut {
  transform: rotate(180deg);
}

.expandWrapper {
  display: grid;
  transition: grid-template-rows 300ms;
}

.innerExpandWrapper {
  overflow: hidden;
}

.closed {
  grid-template-rows: 0fr;
}

.closed > * {
  visibility: hidden;
}

.expanded {
  grid-template-rows: 1fr;
}

.arrow {
  pointer-events: none;
  filter: var(--svgHeadingFilter);
}

.expanded > * {
  visibility: visible;
}

.expandButIn {
  transform: rotate(0deg);
}

.expandBut > img {
  src: url(/arrow.svg);
}

#blackLine {
  border-radius: 30%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: white;
  border: 1px solid black;
}

.checked {
  background-size: 1.3rem;
  background-image: url(/check.svg);
  background-position: center;
}

.optionsRow {
  background-color: white;
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

select {
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border: 1px black solid;
}

select:focus {
  outline: 2px black solid;
}

.colorDiv {
  border-radius: 50%;
  overflow: hidden;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  border: 1px black solid;
}

input[type="color"] {
  transform: translate(-5px, -5px);
  height: 2.5rem;
}

.blackAndGold {
  --bgColorBody: #000000;
  --bgColorDivs: linear-gradient(to right, #ffd700, #ffac33);
  --textColor: black;
  --svgHeadingFilter: none;
  --buttonTextColor: white;
  --shadowColor: rgba(193, 159, 27, 0.852);
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
}

.blueAndWhite {
  --bgColorBody: #0074d9;
  --bgColorDivs: linear-gradient(135deg, #cccccc, #ffffff);
  --textColor: black;
  --buttonTextColor: white;
  --shadowColor: rgba(176, 183, 189, 0.852);
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
}

.greenTones {
  --bgColorBody: #375356;
  --bgColorDivs: linear-gradient(to right, #7fb7be, #d2f3ee);
  --textColor: black;
  --shadowColor: rgba(232, 232, 232, 0.852);
  --svgHeadingFilter: none;
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
  --buttonTextColor: white;
}

.halloween {
  --bgColorBody: #9933ff;
  --bgColorDivs: linear-gradient(135deg, #33ff99, #006600);
  --textColor: #ff6600;
  --shadowColor: rgba(10, 130, 48, 0.852);
  --svgHeadingFilter: invert(47%) sepia(36%) saturate(5513%) hue-rotate(1deg) brightness(103%) contrast(105%);
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
  --buttonTextColor: white;
}

.graphiteRed {
  --bgColorBody: #dc143c;
  --bgColorDivs: linear-gradient(135deg, #666666, #333333);
  --textColor: white;
  --shadowColor: rgba(69, 58, 58, 0.852);
  --svgHeadingFilter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(28deg) brightness(88%) contrast(114%);
  --svgAddButtonFilter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7482%) hue-rotate(43deg)
    brightness(105%) contrast(105%);
  --buttonTextColor: white;
}

.tenPTfontSize {
  --a4fontSize: 3.53px;
}

.elevenPTfontSize {
  --a4fontSize: 3.88px;
}

.thirteenPTfontSize {
  --a4fontSize: 4.59px;
}

.fourteenPTfontSize {
  --a4fontSize: 4.94px;
}


@media screen and (min-width: 500px) {
  #preview {
    width: calc(var(--a4width) * 2);
    height: calc(var(--a4height) * 2);
    font-size: calc(var(--a4fontSize) * 2);
    padding: calc(var(--a4padTop) * 2) calc(var(--a4padRight) * 2) calc(var(--a4padBottom) * 2)
      calc(var(--a4padLeft) * 2);
  }

  #expErrorSpan {
    font-size: small;
    left: 4rem;
  }
}

@media screen and (min-width: 800px) {
  #preview {
    width: calc(var(--a4width) * 3);
    height: calc(var(--a4height) * 3);
    font-size: calc(var(--a4fontSize) * 3);
    padding: calc(var(--a4padTop) * 3) calc(var(--a4padRight) * 3) calc(var(--a4padBottom) * 3)
      calc(var(--a4padLeft) * 3);
  }
  #expErrorSpan {
    font-size: medium;
    top: 3px;
  }
}

@media screen and (min-width: 1024px) {
  #preview {
    width: calc(var(--a4width) * 2.5);
    height: calc(var(--a4height) * 2.5);
    font-size: calc(var(--a4fontSize) * 2.5);
    padding: calc(var(--a4padTop) * 2.5) calc(var(--a4padRight) * 2.5) calc(var(--a4padBottom) * 2.5)
      calc(var(--a4padLeft) * 2.5);
  }
}

@media screen and (min-width: 1200px) {
  #preview {
    width: calc(var(--a4width) * 3);
    height: calc(var(--a4height) * 3);
    font-size: calc(var(--a4fontSize) * 3);
    padding: calc(var(--a4padTop) * 3) calc(var(--a4padRight) * 3) calc(var(--a4padBottom) * 3)
      calc(var(--a4padLeft) * 3);
  }
}

@media print {
  .no-print {
    display: none;
  }
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body,
  #root,
  #preview {
    width: 21cm;
    height: 29.7cm;
    font-size: 0.4322cm;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  html,
  body,
  #root {
    padding: 0;
    margin: 0;
  }

  #preview {
    border: none;
    padding: 1.9cm 1.32cm 3.67cm 1.9cm;
    margin: 0;
  }
}
