@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --grad1: linear-gradient(to right, #fcfafb, #c8d3d6);
  --grad2: linear-gradient(to right, #7fb7be, #d2f3ee);
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.profilePic {
  border-radius: 50%;
  width: 25%;
  background-color: #242424;
}

#preview {
  aspect-ratio: 0.71;
  padding: 5%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
  background: #375356;
}

#persoSpan {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-position: center;
  background-size: 32px;
  background-image: url('./src/assets/personal-info.svg');
}



.groupDiv {
  background: var(--grad2);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 3px 8px 6px rgba(232, 232, 232, 0.852);
}

body {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input, label {
  appearance: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

input:focus {
  outline: 2px black solid;
}

@media screen and (min-width: 1024px) {
  #preview { 
    max-width: 60%;
  }
}